[defaults]
ansible_python_interpreter=/usr/libexec/platform-python
inventory = ./inventory
retry_files_enabled = False
ask_vault_pass = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp
vault_password_file = ./.vault_pass

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_pass = False

[galaxy]
server_list = automation_hub, galaxy_repo

[galaxy_server.automation_hub]
url = https://console.redhat.com/api/automation-hub/content/published/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token = eyJhbGciOi...

[galaxy_server.galaxy_repo]
url = https://galaxy.ansible.com/